/* 初始化 */
* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,body {
	height: 100%;
	font-size: 12px;
}

/* a标签样式 */
a {
	text-decoration: none;
	color: #000;
}

/* 清浮动专用 */
.clearfix:before, 
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
/* 头部 */
.header {
	text-align: center;
}
.header .title{
	border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #999;
}
.header .title h1{
	font-size: 2.5em;
	padding-top: 50px;
	color: #3c3c3c;
}
.header .title h2{
	font-size: 1em;
    color: #aaa;
}

/* 导航 */
.nav {
	z-index: 1024;
	line-height: 25px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: block;
}
.nav ul {
	list-style: none;
    padding: 0;
}
.nav li {
	display: inline-block;
}
.nav li a {
    padding: 10px 15px;
    text-decoration: none;
    color: #3b3b3b;
}
.nav li a:hover {
    padding: 10px 15px;
    background: #eee;
}
.nav li .active {
	background: #eee;
}
/* 导航按钮 */
.toggle-btn {
	font-size: 25px;
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 7px 10px;
    position: absolute;
    right: 10px;
    top: 50px;
    display: none;
}

/* 排序 */
.sort {
	text-align: center;
	border-bottom: 1px solid #eee;
}

/* 颜色 */
.even {
	background: #fff;
}
.odd {
	background: #f5f5f5;
}

/* 文章 */
.article {
	text-align: center;
	padding: 40px 0;
	letter-spacing: 0.2em;
}
.article .poster img {
	margin: 0 auto 35px;
}
.article .header {
	font-weight: 700;
    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 30px;
}
.article .header h1 {
    font-size: 1.2rem;
}
.article .content {
	margin-bottom: 20px;
}
.article .footer time {

}
.article .footer {
	margin-bottom: 30px;
}

/* 图标 */
.fa.fa-heart.red {
	color: red;
}

/* 按钮 */
.btn {
	display: inline;
    background: #e0e0e0;
    color: #3a3a3a;
    text-decoration: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 12px;
	border: none;
    opacity: 0.8;
}
.btn.small {
	padding: 5px;
	margin: 0 5px;
}
.btn.mini {
	padding: 5px;
	font-size: 8px;
}
.btn.blue {
	background: #00a4d8;
	color: #fff;
}
.btn.yellow {
	background: #FBBD08;
	color: #fff;
}
.btn.red {
	background: #d01919;
	color: #fff;
}
.btn.green {
	background: #16ab39;
	color: #fff;
}
.btns {
	margin-top: 20px;
	margin-bottom: 20px;
}
.btns .btn {
	margin: 2px;
}

/* 尾部说明 */
footer.footer {
	border-top: 1px solid #eee;
	padding: 20px 0;
	text-align: center;
	color: #A2A2A2;
	font-size: 12px;
}
footer.footer a {
	color: #A2A2A2;
}
/* 尾部 */
.footer.weight {
	border-top: 1px solid #eee;
}
.footer.weight, 
.footer.weight h1 {
	text-align: center;
	color: #000;
	font-size: 12px;
}
.footer.weight h1 {
	font-size: 1.3rem;
}
.footer.weight aside {
	padding: 20px;
}
.footer.weight aside h1{
	padding-bottom: 20px;
}
.footer.weight aside .content i {
	padding: 4px;
}

/* 移动端 */
@media (max-width: 759px) {
	/* 头部 */
	header h1,
	header h2 {
		text-align: left;
		padding-left: 20px;
	}
	/* 导航 */
	#nav {
		display: none;
	}
	.toggle-btn {
		display: block;
	}
	#nav:target {
		display: block;
		position: absolute;
		top: 0;
		padding-top: 93px;
		width: 100%;
	}
	#nav:target ul {
		background: #000;
	}
	#nav:target li,
	#nav:target li a {
	    display: block;
	    color: #eee;
	    text-align: left;
	}
	#nav:target li a:hover {
		background: #3b3b3b;
	}
	#nav:target .active {
		background: #272727;
	}
}